allow vendor_init default_prop:file { getattr open read };
allow vendor_init device:file { create write };
allow vendor_init dhcp_data_file:dir { getattr setattr };
allow vendor_init ffs_prop:property_service { set };
allow vendor_init freq_prop:property_service { set };
allow vendor_init persist_debug_prop:file { read };
allow vendor_init persistent_properties_ready_prop:file { read };
allow vendor_init system_data_file:dir { setattr };
allow vendor_init tombstone_data_file:dir { getattr };
allow vendor_init vendor_ssr_prop:property_service { set };
allow vendor_init wifi_prop:file { read };
